
.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0008ff;
    outline: none;
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #0d00ff;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}